<h1>Log In</h1>
<p>If you haven't yet created an IronSource account, you can <a href="/authentication/sign-up">sign up here</a>.</p>

<form method="POST">
  <label for="input-email">Email</label>
  <input id="input-email" type="email" name="email" placeholder="A valid email" required>

  <label for="input-password">Password</label>
  <input id="input-password" type="password" name="password" placeholder="A strong password" required>

  <button>Log In</button>
</form>
