<h1>IronSource</h1>

<ul class="resource-list">
  {{#each resources}}
    {{> resourceitem}}
  {{/each}}
</ul>

<div class="btn-group">
  {{#if previousPage}}
    <a href="/?page={{previousPage}}" class="btn">Previous</a>
  {{/if}}
  {{#if nextPage}}
    <a href="/?page={{nextPage}}" class="btn">Next</a>
  {{/if}}
</div>