<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IronSource{{#if subtitle}} - {{subtitle}}{{/if}}</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    {{> navbar}}
    <main class="page">
      {{{body}}}
    </main>
  </body>
</html>
