@import 'variables';

.resource-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.resource-item {
  display: flex;
  align-items: stretch;
  border-bottom: 1px solid lighten($grey, 72%);
  a {
    flex: 1;
    display: flex;
    padding: 1em 0;
    h4 {
      font-size: 1.5em;
    }
  }
  img {
    margin-right: 2em;
    width: 6em;
    height: 6em;
    border-radius: 50%;
    object-fit: cover;
  }
  button {
    height: 100%;
    width: 6rem;
    padding: 0;
    border: 0;
    box-shadow: 0 0;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.resource-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.resource-info {
  display: flex;
  align-items: center;
  .resource-title {
    margin: 0;
  }
  .resource-category {
    margin-left: 1em;
  }
}

.resource-meta {
  display: flex;
  margin-bottom: 0.5em;
}

.resource-category {
  text-transform: uppercase;
  // color: grey;
  font-weight: 700;
}

.resource-media {
  img {
    width: 4em;
  }
}
